{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Pulse</title>
    <link rel="stylesheet" href="{% static "css/tasks.css" %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'todo_list_list' %}">Main Page</a>
        </nav>
    </header>
    <main>
       <div>
        <h1>Create a new list</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
       </div>
    </main>
</body>
<footer>
    Streamline your success with ProgressPulse.
</footer>
</html>
