{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <link rel="stylesheet" href="{% static "css/tasks.css" %}">
</head>
<body>
    <header>
        <nav>
            Main Page
        </nav>
    </header>
    <main>
        <h1>Task Title</h1>
        <p>Task Description</p>
    </main>
</body>
    <footer>
        Streamline your success with ProgressPulse.
    </footer>
</html>
