{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProgressPulse</title>
    <link rel="stylesheet" href="{% static "css/tasks.css" %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'todo_list_list' %}">Main Page</a>
            <a href="{% url 'create_todo_list' %}">Create a New List</a>
            <a href="{% url 'create_todo_item' %}">Create New Item</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in todo_list_list %}
                    <tr>
                        <td><a href="{% url 'show_todo_list' list.id %}">{{ list.name }}</a></td>
                        <td>{{ list.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
<footer>
    Streamline your success with ProgressPulse.
</footer>
</html>
